@use './vars' as *;

body {
    font-family: $font-main;
    padding: $space-main $space-side;
    background-color: #E7EFC7;
    color: $color-primary;
}

.content {
    display: none;
}

.head, .flexLeft, .flexRight {
    text-align: center;
    h1 {
        text-transform: uppercase;
    }
    p {
        font-weight: bold;
    }
}

.formContainer {
    p {
        font-weight: bold;
        padding-top: $space-main;
    }
}

input {
    background-color: $color-background;
    height: 3rem;
    border: none;
    border-radius: $space-main;
    font-weight: bold;
    font-family: $font-main;
    color: $color-primary;
    padding: 0 $space-secondary;
    margin-right: $space-main;
}

button {
    height: 3rem;
    padding: 0 $space-secondary;
    border: none;
    border-radius: $space-main;
    font-weight: bold;
    color: $color-light;
    background-color: $color-secondary;
    cursor: pointer;
    transition: 0.5s;
}

button:hover {
    background-color: $color-primary;
}

.flexContainerOut {
    display: flex;
    justify-content: space-between;
    padding: $space-secondary 0;
    .flexContainerIn {
        display: flex;
        gap: $space-secondary;
        .flexLeft, .flexRight {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: $space-main;
            background-color: $color-background;
            border-radius: $space-main;
            padding: 0 $space-secondary;
        }
    }
}

.container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: $space-side;
    gap: $space-main;
    border-radius: $space-main;
    background-color: $color-background;
    .card {
        background-color: $color-secondary;
        position: relative;
        aspect-ratio: 1/1;
        border-radius: $space-main;
        display: flex;
        justify-content: center;
        align-items: center; 
        font-size: $font-size-main;
        cursor: pointer;
        color: $color-light;
        transition: 0.5s;
        transform: rotateY(180deg);
    }
    .card:hover {
        background-color: $color-primary;
    }
    .clicked {
        background-color: $color-light;
        pointer-events: none;
        color: $color-primary;
        transform:rotateY(0deg);
        backface-visibility: hidden;
    }
    .matched {
        background-color: $color-success;
        pointer-events: none;
        color: $color-primary;
        transform:rotateY(0deg);
    }
}