$font-main: "Verdana", sans-serif;

$font-size-main: 3rem;

$color-primary: #3B3B1A;
$color-secondary: #8A784E;
$color-success: #AEC8A4;
$color-light: #E7EFC7;
$color-background: rgba(255, 255, 255, 0.4);

$space-main: 0.5rem;
$space-secondary: 1rem;
$space-side: 2rem;